<!DOCTYPE html>
<html>
  <head>
    <title>Wp-install</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Wordpress installation</h1>


      <h3>CentOS server on Vultr.com</h3>

      <div class="type">

        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#create-server-vultr" aria-controls="profile" role="tab" data-toggle="tab">Create server on Vultr.com</a></li>
          <li><a href="#create-server-do" aria-controls="profile" role="tab" data-toggle="tab">Create server on DigitalOcean.com</a></li>
          <li><a href="#server-exists" aria-controls="home" role="tab" data-toggle="tab">Already have a server</a></li>
        </ul>

        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="create-server-vultr">
            <form id="createServerVulrt" action="/server/create" method="post">
              <h4>This will create a server with CentOS and preinstalled software.</h4>

              <label for="apiKey">API Key</label>
              <input id="apiKey" name="apiKey" type="text" class="form-control" required>

              <!-- Hidden fields -->
              <input type="text" hidden name="DCID" value="24">
              <input type="text" hidden name="OSID" value="127">
              <input type="text" hidden name="VPSPLANID" value="29">
              <input type="text" hidden name="PROVIDER" value="vultr">
              <br>
              <input class="btn btn-primary" type="submit" value="Create">
            </form>
          </div>

          <div role="tabpanel" class="tab-pane" id="create-server-do">
            <form id="createServerDO" action="/server/create" method="post">
              <h4>This will create a server with CentOS.</h4>

              <label for="apiKey">API Key</label>
              <input id="apiKey" name="apiKey" type="text" class="form-control" required>

              <!-- Hidden fields -->
              <input type="text" hidden name="IMAGE" value="centos-6-5-x64">
              <input type="text" hidden name="REGION" value="fra1">
              <input type="text" hidden name="SIZE" value="512mb">
              <input type="text" hidden name="PROVIDER" value="do">
              <br>
              <input class="btn btn-primary" type="submit" value="Create">
            </form>

            <form id="prepareServerDO" action="/server/software" method="post">
              <h4>This will install software on a server.</h4>

              <label for="server">Select server</label>
              <% if(servers[0]) { %>
              <select class="form-control" name="server" id="server">

                <% servers.forEach(function(server, index, array){
                if(server.do_id) {
                %>
                <option value="<%= server.id %>"><%= server.ip %></option>

                <%
                }

                }); %>

              </select>
              <% } else { %>
              <p>There are no ready servers</p>

              <% } %>

              <label for="serverRootName">Server Root user name (default "root")</label>
              <input id="serverRootName" name="serverRootName" type="text" class="form-control">

              <label for="serverRootPassword">Server Root user password</label>
              <input id="serverRootPassword" name="serverRootPassword" type="text" class="form-control" required>

              <br>
              <input class="btn btn-primary" type="submit" value="Install">
            </form>
          </div>

          <div role="tabpanel" class="tab-pane" id="server-exists">
            <form id="addServer" action="/server/add" method="post">
              <h4>You need to provide some details about your server.</h4>
              <h6><i>WP-CLI need to be installed</i></h6>

              <label for="serverType">Virtualmin or Cpanel?</label>
              <br>
              <input type="radio" name="serverType" id="serverType" value="virtualmin">virtualmin <br>
              <input type="radio" name="serverType" id="serverType" value="cpanel">cpanel <br>

              <label for="serverRootName">Server Root user name (default "root")</label>
              <input id="serverRootName" name="serverRootName" type="text" class="form-control">

              <label for="serverRootPassword">Server Root user password</label>
              <input id="serverRootPassword" name="serverRootPassword" type="text" class="form-control" required>

              <label for="serverIP">Server IP address</label>
              <input id="serverIP" name="serverIP" type="text" class="form-control" required>
              <br>
              <input class="btn btn-primary" type="submit" value="Save">
            </form>
          </div>

        </div>

      </div>

      <form id="createVirtualminDomain" action="/server/createDomain" method="post">
        <h3>Create domain on a server</h3>

        <label for="server">Select server</label>
        <% if(servers[0]) { %>
        <select class="form-control" name="server" id="server">

          <% servers.forEach(function(server, index, array){
              if(server.isSoftwareInstalled) {
                %>
              <option value="<%= server.id %>"><%= server.ip %></option>

          <%
              }

              }); %>

        </select>
          <% } else { %>
          <p>There are no ready servers</p>

        <% } %>

        <label for="domainUser">Domain user name</label>
        <input id="domainUser" name="domainUser" type="text" class="form-control">

        <label for="domainPassword">Domain user password</label>
        <input id="domainPassword" name="domainPassword" type="password" class="form-control">

        <label for="domain">Domain</label>
        <input id="domain" name="domain" type="text" class="form-control">

        <br>
        <input class="btn btn-primary" type="submit" value="Create">
      </form>

      <form id="installWordpress" action="/server/installWordpress" method="post">
        <h3>Install Wordpress</h3>

        <label for="server">Select server</label>
        <% if(servers[0]) { %>
        <select class="form-control" name="server" id="server">

          <% servers.forEach(function(server, index, array){
          if(server.isSoftwareInstalled && server.isSoftwareInstalled) {
          %>
          <option value="<%= server.id %>"><%= server.ip %></option>

          <%
          }

          }); %>

        </select>
        <% } else { %>
        <p>There are no ready servers</p>

        <% } %>

        <label for="wpUser">Wordpress user name</label>
        <input id="wpUser" name="wpUser" type="text" class="form-control">

        <label for="wpPassword">Wordpress user password</label>
        <input id="wpPassword" name="wpPassword" type="password" class="form-control">

        <label for="wpEmail">Wordpress user email</label>
        <input id="wpEmail" name="wpEmail" type="text" class="form-control">

        <label for="wpTitle">Site title</label>
        <input id="wpTitle" name="wpTitle" type="text" class="form-control">

        <label for="wpDescription">Site description</label>
        <input id="wpDescription" name="wpDescription" type="text" class="form-control">

        <h3>Database info, if using CPanel</h3>

        <label for="dbName">Database name</label>
        <input id="dbName" name="dbName" type="text" class="form-control">

        <label for="dbUser">Database user name</label>
        <input id="dbUser" name="dbUser" type="text" class="form-control">

        <label for="dbPassword">Database user password</label>
        <input id="dbPassword" name="dbPassword" type="text" class="form-control">

        <br>
        <input class="btn btn-primary" type="submit" value="Create">
      </form>
      <br>
      <% if(servers[0]) { %>
      <table id="servers" class="table">
        <tr>
          <th>Server IP</th>
          <th>Server Ready</th>
          <th>Server Status</th>
        </tr>
        <% servers.forEach(function(server, index, array){ %>
        <tr data-server="<%= server._id %>">
          <td><a href="http://<%= server.ip %>"><%= server.ip %></a></td>
          <td><%= server.ready %></td>
          <td><%= server.status %></td>
        </tr>
        <% }); %>
      </table>
      <% } else { %>
      <p>There are no servers</p>
      <% } %>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="javascript/main.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  </body>
</html>
